// Form Fields
.formaid {
	.formfield {
		margin: 7px 0;

		label {
			display: block
		}
	}

	.formfield-textlike {
		input {
			padding: 3px;		
		}
	}

	.formfield-checkbox {
		input {
			float: left;
			margin-right: 8px;
		}

		label {
			float: left;
		}

		&:after {
		    content: " ";
		    display: table;
		    clear: both;
		}
	}

	.formfield-submit {
		background-color: #034769;

		padding: 7px 20px;
		border: 0;

		color: #fff;

		box-shadow: 2px 3px 5px -2px #444;
		border-radius: 8px;
		cursor: pointer;

		&:hover {
			background: #9C2F23;
		}
	}

	.honeypot {
		display: none;
	}

}

// Messages
.result {
	display: inline-block;
	padding: 7px;

	border: {
		width: 1px;
		style: solid;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
}

.error {
	background: #ffb0b0;
	border-color: #760000;
	color: #760000;
}

.success {
	background: #bfffab;
	border-color: #1c9300;
	color: #1c9300;
}